$font-main: "Open sans", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-main: #81b3d2;
$font-color--main: #333333;
$color-secondary: #ffffff;
$color-secondary-opacity-30: rgba(255, 255, 255, 0.3);
$color-title: #000000;
