.button-burger {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 26px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

/*гамбургер при закрытом меню*/
.button-burger__icon {
  display: block;
  width: 23px;
  height: 4px;
  background-color: $color-main;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.button-burger__icon::before,
.button-burger__icon::after {
  content: "";
  display: block;
  width: 23px;
  height: 4px;
  background-color: $color-main;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.button-burger__icon::before {
  transform: translateY(-8px);
}

.button-burger__icon::after {
  transform: translateY(4px);
}

/*крестик при открытом меню*/
.button-burger__icon--open {
  width: 26px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.button-burger__icon--open::before {
  width: 28px;
  transform: translateY(0px) rotate(45deg);
  background-color: $color-secondary;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.button-burger__icon--open::after {
  width: 28px;
  transform: translateY(-4px) rotate(-45deg);
  background-color: $color-secondary;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
