.main-nav {
  position: relative;
}

.main-nav__list {
  @include list-style-reset;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: $color-secondary;
  background-color: $color-main;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 26px;
    color: $color-title;
    background-color: $color-secondary;
  }
}

.main-nav__list--close {
  display: none;
}

.main-nav__item {
  padding: 8px 0 7px;
  min-height: 55px;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:first-child {
    border-top: none;
  }

  @media screen and (min-width: $tablet-width) {
    width: 20%;
    padding-top: 14px;
    text-align: center;
    border: none;
  }
}

.main-nav__item:nth-child(4n+2) {
  @media screen and (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.main-nav__link {
  color: $color-secondary;

  &:active {
    color: $color-secondary-opacity-30;
  }

  @media screen and (min-width: $tablet-width) {
    color: $color-title;
  }
}

.main-nav__logo-link {
  position: relative;
  z-index: 5;
  display: block;
  width: 102px;
  height: 85px;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: calc(50% - 102px / 2);
  }

  @media screen and (min-width: $desktop-width) {
    left: calc(50% - 187px / 2);
    width: 187px;
    height: 96px;
  }
}

.main-nav__logo-link img {
  @media screen and (min-width: $desktop-width) {
    width: 187px;
    height: 96px;
  }
}
